---
import {Icon} from 'astro-icon/components';
---

<div class='w-full my-8 relative'>
  <div class='w-full h-[1px] bg-gray-300 z-0'></div>
  <div class='w-full absolute -top-[15px] flex justify-center'>
    <div class='px-4 bg-white'>
      <Icon name='game-icons:sergeant' size={30} class='text-gray-200 z-10'/>
    </div>
  </div>
</div>